{% extends 'layout.html' %}
{% block title %}Cources{% endblock %}
{% block body %}
{% load static %}

<style>
    form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
    form > input[type=text]{
        width: 90%;
        height: 40px;
        border: 1px solid black;
        border-radius: 25px;
        padding: 10px;
        font-size: 20px;
    }
    .submit{
        border: 0.1px solid rgba(0, 0, 0, 0.217);
        border-radius: 25px;
        padding: 10px 20px;
        background-color: rgb(254, 254, 254);
        transition: 0.3s;
        margin-top: 20px;

    }
    .submit:hover{

        transform: translateY(-5px);
    }
</style>


<form action="{% url 'Create_Lesson' Cource.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="url" class="url" placeholder="Enter The Lesson youtube URL">
    <input type="text" name="Name" class="name" placeholder="Enter The Lesson Name">
    <input type="text" name="description" class="des" placeholder="Enter The Lesson description">
    <input type="hidden" name="Cource" class="cource" value="{{Cource.id}}">
    <input type="submit" class="submit" value="Create Lesson">
</form>






















{% endblock %}
