{% extends 'layout.html' %}
{% block title %}Cources{% endblock %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'Cource/style.css' %}">

{% if user.is_staff  %}
<div class="admin footer1">
    <a href="{% url 'Add_Cource' %}" class="Admin">Add Cource</a>
</div>
{% endif %}

<div class="Cources">



    {% for Cource in Cources %}
        {% if Cource.isActive == True %}
            <a href="{% url 'oneCource' Cource.id %}" class="a-Cource">
                <div class="Cource">
                    {% if Cource.image %}
                        <img src="{{ Cource.image.url }}" alt="Course Image" width="70px" class="img">
                    {% else %}
                        <img src="/media/default.png" alt="Default Image" width="70px" class="img">
                    {% endif %}

                    <h1 class="name">{{Cource.Name}}</h1>
                    <p class="des">{{Cource.description}}</p>
                    {% if Cource.price == 0 %}
                        <h4 class="free "><strong>Free</strong></h4>
                    {% else %}
                        <h4 class="price"><strong>{{Cource.price}}</strong>$</h4>
                    {% endif %}
                    
                </div>
            </a>
        {% endif %}

    {% endfor %}
</div>



{% if user.is_authenticated %}



{% endif %}











{% endblock %}